.footer__column-link {
  padding-bottom: 10px;
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  transition: opacity .3s  linear ease;
}
.footer__column-link:hover{
  opacity: .6;
}
