.resources__logo_h1{
  background-image: url(../../../../img/logo/resources-n1.svg);
  background-size: contain;
  transition: opacity .3s  linear ease;
  cursor: pointer;
}

.resources__logo_h1:hover{
  opacity: .8;
}
