.footer__colomn-link {
  padding-bottom: 10px;
  color: white;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.footer__colomn-link:hover{
  color: blueviolet;
}
