.header__main-illustration{
background-image: url(/Brif№1/img/two_again.png);
position: absolute;
right: 0;
bottom: 0;
width: 756px;
height: 608px;
z-index: 1;
object-fit:cover;
background-size: cover;
}
