.kaufman__triangle {
  background-image: url(../../../img/triangle.svg);
  width: 876px;
  height: 876px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  overflow: hidden;
  right: -210px;
  top: 0px;
  z-index: 0;
}
